<<<<<<< HEAD
<!DOCTYPE html>
<html>
  <head>
    <title><%= Login %></title>
  </head>
  <body>
    <h1>Welcome to TwitterLite</h1>
    <form method="post" action="'/loginverify'">
      User Name: <input type="text" name="username"> <br>
      Password:  <input type="password" name="password"> <br>
      <button>Login</button>
    </form>
  </body>
</html>
=======
	<!DOCTYPE html>
	<html>
	<head>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<script type="text/javascript" src="/javascripts/jquery-min.js"></script>
		<script type="text/javascript" src="/javascripts/test.js"></script>
	</head>
	
	<body>
	<div id="superCont">
	<div id="mainCont">
	<div id="header"></div>

	<div id ="login">
	<h1>Please Login </h1></br>
	    <form method="get" action="/loginverify">
	    Username: <input type="text" name="username"/><br/>
	    Password: <input type="text" name="password"/><br/>
	    <input type="submit" value="Login"/>
	</loginverify>
	</div>
	</div>
</div>
</body>
	<div id="footer"></div>
	</html>
>>>>>>> 551c0017c0cc7606aa01ba75d3ffe70219d8ece2
