<<<<<<< HEAD
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
=======
body {,  padding: 50px;,  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;,},,a {,  color: #00B7FF;,}
>>>>>>> 196500d9095b1d7d1bd5923f551700ee1596d753
